<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>
  
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Liga de porras deportivas">
    <meta name="author" content="Óscar del Pozo">
    
    <title>Sports Bets</title>
    
    <!-- Bootstrap Core CSS -->
    <link th:href="@{home-theme/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{home-theme/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link th:href="@{home-theme/vendor/magnific-popup/magnific-popup.css}" rel="stylesheet">

    <!-- Theme CSS -->
    <link th:href="@{home-theme/css/creative.css}" rel="stylesheet">
  
  </head>
  	
  <body id="page-top">

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse-menu">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Sports Bets</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-collapse-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#overview">Overview</a>
                    </li>
                    <li>
                        <a class="page-scroll" th:href="@{/login}" href="/login">Signup</a>
                    </li>
                    <li>
                        <a class="page-scroll" th:href="@{/login}" href="/login">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

	<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Your Free Sweepstake League to compete against your friends and people worldwide</h1>
                <hr class="light">
                <p>Create your own leagues or just enroll to some existing ones to bet for your teams and matches. Enjoy!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                <a href="#signup" th:href="@{/login}" class="btn btn-primary btn-xl page-scroll">Start playing</a>
            </div>
        </div>
    </header>
    
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The definitive place to manage your bets with your friends.</h2>
                    <hr />
                    <p class="text-muted">Here you can create leagues with all the games in a competition or just the matches of your favourite teams.
                    	Or just create a sweepstake for a single match, it's up to you!</p>
                    <a href="#signup" th:href="@{/login}" class="btn btn-primary btn-xl page-scroll">Sign Up!</a>
                    <a href="#overview" class="btn btn-primary btn-xl page-scroll">Tell me more</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="no-padding" id="overview">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img th:src="@{home-theme/img/portfolio/thumbnails/1.jpg}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img th:src="@{home-theme/img/portfolio/thumbnails/2.jpg}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img th:src="@{home-theme/img/portfolio/thumbnails/3.jpg}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img th:src="@{home-theme/img/portfolio/thumbnails/4.jpg}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img th:src="@{home-theme/img/portfolio/thumbnails/5.jpg}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img th:src="@{home-theme/img/portfolio/thumbnails/6.jpg}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
       	</div> 
	</section>
    
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Follow us on <a href="https://twitter.com/sportsbets" class="btn btn-twitter btn-xl sr-button">Twitter</a> </p>
                </div>
                <div class="col-lg-12 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:feedback@sportsbets.com">feedback@sportsbets.com</a></p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- jQuery -->
    <script th:src="@{/home-theme/vendor/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/home-theme/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script th:src="@{/home-theme/vendor/scrollreveal/scrollreveal.min.js}"></script>
    <script th:src="@{/home-theme/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

    <!-- Theme JavaScript -->
    <script th:src="@{/home-theme/js/creative.min.js}"></script>
  </body>
  
</html>