<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
    
    <header th:substituteby="layout/header :: header"></header>
    
    <div class="container">
    
        <div class="row">
            <h2 th:text="#{overview.title}">Welcome</h2>
        </div>
        
        <div th:substituteby="layout/messages :: messages"></div>
        
        <div class="row">
        	<a th:href="@{/league/create}" th:text="#{app.create.league}" class="btn btn-lg btn-primary">Create league</a>
          	<a th:href="@{/league/searchLeagues}" th:text="#{app.join.league}" class="btn btn-lg btn-primary">Join a league</a>
        </div>        
        <div class="row" th:unless="${#lists.isEmpty(leagues)}">
        	<h2 th:text="#{overview.leagues}">Your leagues</h2>
        	<div th:each="league: ${leagues}">
	        	<a th:href="@{league/{leagueId}(leagueId=${league.id})}" th:text="${league.name}">League name</a>
        	</div>
        </div>
        
    </div> 
    
  </body>
  
</html>